#textdomain wesnoth-wov
# To make this map do the following conversions to HM_Master.map:
# Cut the top 12 rows of hexes from the map
# Cut the rightmost 12 columns of hexes from the map
# Set the encampment keep in lower left to player 2
# Kte->Hh, Cte->Hh - Remove the troll encampment
#
# This scenario is intended to be hard difficulty and to allow recalling of many clasher veterans.
[scenario]
    id=12_Confrontation
    name= _ "Confrontation"
    next_scenario=13_Epilogue
    {WOV_MAP 12_Confrontation.map}
    turns=unlimited
    {DEFAULT_SCHEDULE_DAWN} #It's spring now
    carryover_percentage=0

    {INTRO_AND_SCENARIO_MUSIC revelation.ogg weight_of_revenge.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
    {EXTRA_SCENARIO_MUSIC suspence.ogg}

    [story]
        [part]
            background=story/landscape-mountains-05.webp
            story= _ "After the defeat of the dwarves, the rest of the winter was spent in a peaceful hibernation. With the arrival of spring, the flight returned to hunting and the work of preparing for the flight’s first hatching."
        [/part]
        [part]
            background=story/landscape-mountains-05.webp
            story= _ "As the dawn broke one day, the guard sounded the alarm. The missing Sky Drake had returned, and he was not alone."
        [/part]
    [/story]
    {WOV_GC_TRACK {JOURNEY_12_NEW}}

    # wmllint: validate-off
    [side]
        {WOV_SIDE_1}
        fog=no
        shroud=no
        {SIDE_1_GOLD_FIXED 250 150}
        income=4
#ifndef MULTIPLAYER
        [unit]
            {VANK}
            placement=leader
        [/unit]
#endif
    [/side]

    [side]
        {WOV_SIDE_2}
        fog=no
        shroud=no
        gold=150
        income=4
    [/side]

    {STARTING_VILLAGES 1 7}
#ifdef MULTIPLAYER 
    [event]
    name=prestart 
        [capture_village]
            side=2
            x=32,35
            y=2,8
        [/capture_village]
    [/event]
#endif
    {WOV_DEATHS}

    [side]
        {UNPLAYABLE_SIDE}
        side=3
        controller=ai
        recruit=Drake Arbiter, Drake Burner, Drake Clasher, Drake Fighter, Drake Flare, Drake Glider, Drake Thrasher, Drake Warrior, Fire Drake, Sky Drake
        {GOLD 760 880 1010}
        {INCOME 15 20 25}
        team_name=villain
        user_team_name= _ "Drakes"
        {FLAG_VARIANT long}
        # wmllint: who KERATH is Kerath
        [leader]
            {KERATH}
            facing=ne
        [/leader]
        [unit]
            {GRIBBEL}
            {IS_HERO}
            experience=35 # Intended to cover what he could have earned in previous appearance plus some.
            moves=0
            x,y=2,35
            facing=ne
        [/unit]
        [unit]
            type=Drake Warden
            ai_special=guardian
            {IS_LOYAL}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_QUICK}
            [/modifications]
            x,y=4,32
            facing=ne
        [/unit]
        [unit]
            type=Drake Enforcer
            ai_special=guardian
            {IS_LOYAL}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_QUICK}
            [/modifications]
            x,y=6,35
            facing=ne
        [/unit]
        # Spy placed in prestart
    [/side]
    {STARTING_VILLAGES 3 6}
    # Make sure clasher line is used heavily, and account for the 4 non-clasher units placed.
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Drake Burner, Drake Fighter, Drake Flare, Drake Glider, Drake Warrior, Fire Drake, Sky Drake" 7}

    [side]
        side=4
        controller=null
        hidden=yes
        team_name=hero
        user_team_name= _ "Saurians"
        no_leader=yes
    [/side]
    # wmllint: validate-on

    {MASCULINE_DRAKES}

    [event]
        name=prestart
        {MODIFY_UNIT side=1,2 facing sw}
        # Place the spy from S11
        [if]
            {VARIABLE_CONDITIONAL spy.role equals spy}
            [then]
                [set_variables]
                    name=spy
                    mode=merge
                    [value]
                        side=3
                        ai_special=guardian
                        facing=ne
                    [/value]
                [/set_variables]
                [unstore_unit]
                    variable=spy
                    find_vacant=yes
                    x,y=6,33
                [/unstore_unit]
            [/then]
            [else]
                [unit]
                    side=3
                    type=Sky Drake
                    role=spy
                    ai_special=guardian
                    facing=ne
                    x,y=6,33
                [/unit]
            [/else]
        [/if]
        {CLEAR_VARIABLE spy}
        [objectives]
            [objective]
                description= _ "Defeat Kerath"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Galun"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Vank"
                condition=lose
            [/objective]
            {HAS_NO_TURN_LIMIT}
            {IS_LAST_SCENARIO}
        [/objectives]
    [/event]

    [event]
        name=start
        [message]
            speaker=Kerath
            message= _ "Galun!"
        [/message]
        [message]
            speaker=Galun
            image_pos=right
            mirror=yes
            message= _ "Why have you and your flight left Morogor and come to my eyrie, Kerath?"
            # TODO: (observation) "Kerath" is very similar to "Kerlath" (province from TSG)
        [/message]
        [message]
            speaker=Kerath
            message= _ "You, a new Dominant, are not worthy to have that mountain and for your descendants to populate this land. I have come to take your mountain and your breeders for myself."
        [/message]
        [message]
            speaker=Galun
            image_pos=right
            mirror=yes
            # TODO what are the Ways of Morogor? No need to spell them out in dialog but maybe they could be documented in comments/storyboard
            message= _ "You would fight to take what is mine when you have breeders of your own and unclaimed lands are in abundance? Such an attack is a violation of the Ways of Morogor!"
        [/message]
        [message]
            speaker=Kerath
            message= _ "We are not in Morogor anymore! There are no other flights around to enforce customs. Surrender, and I will give you a quick death, and some of your drakes may be allowed to live and serve me."
        [/message]
        [message]
            speaker=Galun
            image_pos=right
            mirror=yes
            message= _ "Leave, and never trouble me again. Stay, and you will die."
        [/message]
        [message]
            speaker=Kerath
            message= _ "Enough talk. Drakes, attack!"
        [/message]

        [delay]
            time=1500
        [/delay]
        # Saurians arrive at edge of map and move to drake keep
        [unit]
            {XIRTREZYX}
            side=1
            x,y=24,36
        [/unit]
        [unit]
            {KRENIX}
            side={MP_VANK_SIDE}
            x,y=25,35
        [/unit]
        [delay]
            time=1500
        [/delay]
        [move_unit]
            race=lizard
            to_x=24, 31, 31, 34
            to_y=25, 22, 12, 10
        [/move_unit]

        {LOYAL_UNIT 1 "Saurian Oracle" 34 10}
        {LOYAL_UNIT {MP_VANK_SIDE} "Saurian Oracle" 34 10}
        {LOYAL_UNIT 1 "Saurian Ambusher" 34 10}
        {LOYAL_UNIT {MP_VANK_SIDE} "Saurian Ambusher" 34 10}
        {LOYAL_UNIT 1 "Saurian Spearthrower" 34 10}
        {LOYAL_UNIT {MP_VANK_SIDE} "Saurian Spearthrower" 34 10}

        [message]
            speaker=Xirtrezyx
            image_pos=right
            mirror=yes
            message= _ "We have arrived."
        [/message]
        {MODIFY_UNIT race=lizard facing sw}
    [/event]

    [event]
        name=last breath
        [filter]
            role=spy
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh!"
        [/message]
        [message]
            speaker=second_unit
            message= _ "I have killed the traitor!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Kerath
        [/filter]
        [message]
            speaker=unit
            message= _ "Arrgggg!"
        [/message]
        [message]
            speaker=Galun
            message= _ "Good riddance."
        [/message]
        [endlevel]
            result=victory 
            carryover_report=no 
        [/endlevel]
    [/event]

    [event]
        name=victory
        [message]
            speaker=Vank
            message= _ "It saddens me that we had to fight our own kind, although we did what we had to."
        [/message]
        [message]
            speaker=Galun
            message= _ "Indeed."
        [/message]
    [/event]
    {SHOW_DRAKIPEDIA}
[/scenario]
